<div align="center">
 <h3> Insert Cust Data</h3>
    <form #insertform="ngForm" (ngSubmit)="insertcustdata(insertform)">

        <label for="custid"> Cust ID : </label>
        <input type="number" id="custid" #custid (ngModel)="custid" name="custid">
        <br> <br>

        <label for="custname"> Cust Name : </label>
        <input type="text" id="custname"  #custname (ngModel)="custname" name="custname">
        <br> <br>

        <label for="custprice"> Cust Order Price : </label>
        <input type="number" id="custprice"  #custprice (ngModel)="custprice" name="custprice">
        <br><br>

        <input type="submit" value="Insert">

    </form>
<div>
